<section
  class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7"
  style="background-image: url(./assets/img/page-header/page-header-services.jpg);">

  <div class="container">

    <div class="row mt-5">

      <div class="col-md-12 align-self-center p-static text-center">

        <h1 class="text-light">Contactez-nous</h1>

      </div>

    </div>

  </div>

</section>

<div class="container py-1">

  <div class="row justify-content-center">

    <div class="col-lg-6">

      <div class="overflow-hidden mb-1">
        <h2 class="font-weight-normal text-7 mt-2 mb-0 appear-animation animated maskUp appear-animation-visible"
          data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">
          <strong class="font-weight-extra-bold">Contactez</strong> - nous</h2>
      </div>

      <div class="overflow-hidden mb-4 pb-3">
        <p class="mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp"
          data-appear-animation-delay="400" style="animation-delay: 400ms;">Emails : <b>code.sonik@gmail.com / tibang.kolani@gmail.com</b>
          <br> Tels : <b>00228 92942601 / 00228 70419811</b> </p>
      </div>

      <form class="contact-form" action="#" method="#">

        <!-- TODO: use this to display messages -->
        <!-- <div class="contact-form-success alert alert-success d-none mt-4">
            <strong>Success!</strong> Your message has been sent to us.
          </div>

          <div class="contact-form-error alert alert-danger d-none mt-4">
            <strong>Error!</strong> There was an error sending your message.
            <span class="mail-error-message text-1 d-block"></span>
          </div> -->

        <div class="form-row">

          <div class="form-group col-lg-6">
            <label class="required font-weight-bold text-dark text-2">Nom & Prénom</label>
            <input type="text" value="" class="form-control" name="name" required>
          </div>

          <div class="form-group col-lg-6">
            <label class="required font-weight-bold text-dark text-2">Adresse Email</label>
            <input type="email" value="" class="form-control" name="email" required>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col">
            <label class="font-weight-bold text-dark text-2">Titre</label>
            <input type="text" value="" class="form-control" name="title" required>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col">
            <label class="required font-weight-bold text-dark text-2">Message</label>
            <textarea maxlength="5000" rows="8" class="form-control" name="message" required></textarea>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col">
            <input type="submit" value="Envoyer" class="btn btn-primary btn-modern">
          </div>

        </div>

      </form>

    </div>

  </div>

</div>
