<section
  class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7"
  style="background-image: url(./assets/img/page-header/page-header-services.jpg);">

  <div class="container">

    <div class="row mt-5">

      <div class="col-md-12 align-self-center p-static text-center">

        <h1 class="text-light">Conditions générales d'utilisation</h1>

      </div>

    </div>

  </div>

</section>

<div class="container py-1">

  <div class="row justify-content-center">

    <div class="col-12">

      <h4 class="text-center font-weight-bold">En vigueur au 30/12/2021</h4>

      <div class="pt-2">
        Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des
        modalités de mise à disposition du site et des services par <b><i>La Team</i></b> et de définir les conditions
        d’accès
        et d’utilisation des services par « l'Utilisateur ».
        Les présentes CGU sont accessibles sur le site à la rubrique «CGU».
      </div>

    </div>

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 1 : Les mentions légales</h4>

      <div>
        L’édition et la direction de la publication du site https://num-gagnant.web.app est assurée par <b>La
          Team</b>,
        domicilié Lomé.
        Numéro de téléphone est <i>00228 92 94 26 01 - 00228 70 41 98 11</i>
        Adresse e-mail : <i>lateam2022@gmail.com</i> .
        <!-- TODO: create app email -->
      </div>

    </div>

    <!-- TODO: online fouls check -->

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 2 : Accès au site</h4>

      <div>
        Le site internet propose des numéros probable gagnant à la Lotorie nationale Togolaise (LONATO).
        Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais
        supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.)
        sont à sa charge.

      </div>

    </div>

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 3 : Collecte des données</h4>

      <div>
        Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où
        il ne collecte aucune donnée concernant les Utilisateurs.
      </div>

    </div>

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 4 : Propriété intellectuelle</h4>

      <div>
        Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une
        protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
      </div>
      <div>
        L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des
        différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute
        utilisation à des fins commerciales et publicitaires est strictement interdite.
        Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation
        expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et
        suivants du Code de la propriété intellectuelle.
      </div>
      <div>
        Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui
        reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.
      </div>

    </div>

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 5 : Responsabilité</h4>

      <div>

        Les sources des informations diffusées sur le site https://num-gagnant.web.app sont réputées fiables mais
        le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
        Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des
        mises à jour régulières, le site https://num-gagnant.web.app ne peut être tenu responsable de la
        modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne
        peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.
        Le site https://num-gagnant.web.app ne peut être tenu pour responsable d’éventuels virus qui pourraient
        infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au
        téléchargement provenant de ce site.
        La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable
        d'un tiers

      </div>

    </div>

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 6 : Liens hypertextes</h4>

      <div>
        Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens,
        il sortira du site https://num-gagnant.web.app. Ce dernier n’a pas de contrôle sur les pages web sur
        lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
      </div>

    </div>

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 7 : Cookies</h4>

      <div>
        L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur
        son logiciel de navigation.
      </div>
      <div>
        Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur
        par votre navigateur et qui sont nécessaires à l’utilisation du site https://num-gagnant.web.app. Les
        cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un.
        Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la
        fin de la visite de l’Utilisateur, d’autres restent.
        L’information contenue dans les cookies est utilisée pour améliorer le site https://num-gagnant.web.app.
      </div>
      <div>
        En naviguant sur le site, L’Utilisateur les accepte.
      </div>
      <div>
        L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel
        de navigation.
      </div>

    </div>

    <div class="col-12 py-3">

      <h4 class="text-primary">ARTICLE 8 : Droit applicable et juridiction compétente</h4>

      <div>
        La législation Togolaise s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né
        entre les parties, les tribunaux Togolais seront seuls compétents pour en connaître.
        Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées
        inscrites à l’ARTICLE 1.
      </div>

    </div>

  </div>

</div>
