<section
  class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7"
  style="background-image: url(./assets/img/page-header/page-header-services.jpg);">

  <div class="container">

    <div class="row mt-5">

      <div class="col-md-12 align-self-center p-static text-center">

        <h1 class="text-light">A propos</h1>

      </div>

    </div>

  </div>

</section>

<div class="container py-1">

  <div class="row text-justify">

    <div class="col">

      <blockquote class="with-borders">

        <p>
          Nous sommes un groupe de jeunes, passionnés d'informatique regroupant en son sein plusieurs expertises. Ces expertises nous permettent d'automatiser le processus de traitement de l'information dans des domaines aussi divers que l'informatique, le social, l'éducation, l'entreprenariat, le commerce, ...
        </p>

        <p>Pour joindre <b>La Team</b> , cliquez <a routerLink="/contact">ici</a> </p>

        <footer><cite title="Source Title">La Team</cite></footer>

      </blockquote>

    </div>

  </div>

</div>
