<section
  class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7"
  style="background-image: url(./assets/img/page-header/page-header-services.jpg);">

  <div class="container">

    <div class="row mt-5">

      <div class="col-md-12 align-self-center p-static text-center">

        <h1 class="text-light">Historique des pronostiques</h1>

      </div>

    </div>

  </div>

</section>

<div class="container py-1">

  <div class="table-responsive">

    <table class="table table-bordered">

      <thead>

        <tr>

          <th scope="col">Dates</th>

          <th scope="col">Pronostics</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let item of data">

          <td>{{ item.data().date }}</td>

          <td><span *ngFor="let num of item.data().result as arr; let i = index">{{ num }}
              <span *ngIf="i< (arr.length - 1)"> - </span></span></td>

        </tr>

      </tbody>

    </table>

  </div>

</div>
